$colorSelectSite: #F16D7F;
$widthSite: 1140px;
$backBlocks: #222222;
$colorText: black;
$gapGrid: 30px;
$thirdSite: calc(($widthSite - ($gapGrid * 2)) / 3);
$justify-content: center;
$widthBurgerMenu: 232px;